.blog-container{
    max-width: 424px;
    min-width: 200px;
    width: 100%;
    border: 1px solid black;
    /* height: 537px; */
    background-color: white;
}
.blog-img{
    max-width: 376px;
    height: 276px;
    min-width: 200px;
    border: 1px solid black;
    margin: 0 auto;
  
}
.blogimg{
    max-width: 376px;
    height: 276px;
    min-width: 100px;
    border-radius: 5px;

}
.blog-description{
    max-width: 376px;
    min-width: 100px;
    width: 100%;
    margin: 0 auto;
}
.health{
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: justified;
color: black;
}
.maintaining{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: -0.02em;
text-align: justified;
color: black;
}
.read-more-p{
    color: black;
    font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
text-align: left;
color: #2A5500;

}
.read-more{
    border: 1px solid black;
}
.arrow{
    /* width: 15px; */
    /* height: 15px; */
    color: green;
}
.read-more{
    display: flex;
    gap: 4.38px;
    align-items: center;
}